.categoryCard {
    display: flex;
    flex-direction: column;
    width: 199px;
    height: 187.4px;
    margin: 50px;
}

.categoryCard__box {
    display: flex;
    background-color: #f8fad4;
    border: 2px solid #81B541;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.categoryCard__box>img {
    padding: 20px 50px;
    align-items: center;
}

.categoryClass__name {
    margin-top: 20px;
    text-align: left;
    color: #190f04;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
}

