.home {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    justify-content: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    z-index: 100;
}

.home__join {
    display: flex;
    flex-direction: row;
}

.home__join__background {
    display: flex;
    margin-right: -100px;
}

.home__join__background>img {
    object-fit: contain;
}

.home__join__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 0px 10px;
}

.home__join__options>h1 {
    font-weight: 900;
    font-size: 32px;
}

.home__join__options>Button {
    margin-top: 40px;
    padding: 10px;
    background-color: #479683;
    width: 75%;
}

.home__join__options>Button>span {
    font-size: 20px;
    color: white;
}

.home__care {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.home__care__right {
    display: flex;
    flex-direction: column;
}

.home__care__right>img {
    object-fit: contain;
}

.home__care__left {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.home__care__left>h1 {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
}

.home__care__left>p {
    padding: 10px;
    font-size: 24px;
    width: 95%;
}

.home__care__left>Button {
    margin-top: 40px;
    padding: 10px 15px;
    background-color: #479683;
    width: fit-content;
}

.home__care__left>Button>span {
    font-size: 20px;
    color: white;
}

.home__roles{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.home__roles__header{
    display: flex;
    height: 100px;
    background-color: #479683;
    justify-content: center;
    border-radius: 5px;
}

.home__roles__header>h1 { 
    font-weight: 900;
    font-size: 32px;
    color: white;
    align-self: center;
}

.home__roles__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home__categories {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.home__categories__header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.home__categories__header>h1 {
    font-size: 44px;
    align-self: center;
}

.home__categories__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home__popularProjs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__popularProjs__header {
    display: flex;
    margin-bottom: 20px;
}

.home__popularProjs__header>h1 {
    font-size: 44px;
    align-self: center;
}

.home__popularProjs__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home__popularProjs>Button {
    margin-top: 40px;
    padding: 10px 15px;
    background-color: #479683;
    width: fit-content;
}

.home__popularProjs>Button>span {
    font-size: 20px;
    color: white;
}

.home__featured {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__featured__header {
    display: flex;
    margin-bottom: 20px;
    margin-bottom: 30px;
}

.home__featured__header>h1 {
    font-size: 44px;
    align-self: center;
}

.home__featured__rows {
    display: flex;
    flex-direction: row;
}

.home__featured__rows>img {
    padding: 0px 20px;
    object-fit: contain;
    align-self: center;
}

.home__featured__help {
    display: flex;
    flex-direction: row;
}

.home__featured__help>h3 {
    justify-content: center;
    align-self: center;
    font-weight: 400;
}

.home__featured__help>Button {
    margin-left: 20px;
    padding: 10px 15px;
    background-color: #479683;
    width: fit-content;
}

.home__featured__help>Button>span {
    font-size: 20px;
    padding: 0px 10px;
    color: white;
}

.home__helpingCom {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__helpingCom>h2 {
    align-self: start;
    font-weight: 700;
    color: rgba(71, 150, 131, 1);
}

.home__helpingCom>Button {
    padding: 12px 25px;
    background-color: #479683;
    width: fit-content;
    align-self: flex-end;
}

.home__helpingCom>Button>span {
    font-size: 20px;
    color: white;
}

.home__helpingCom__header{
    display: flex;
    margin-bottom: 20px;
    margin-bottom: 30px;
}

.home__helpingCom__header>h1{
    font-size: 44px;
    align-self: center;
}

.home__helpingCom__row {
    display: flex;
    flex-direction: row;
}

.home__helpingCom__row>img {
    margin: 25px 0px;
    padding: 20px;
}

.home__works {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__works>img {
    width: -webkit-fill-available;
}
 
.home__works__header {
    display: flex;
    margin-bottom: 20px;
    margin-bottom: 30px;
}

.home__works__header>h1 {
    font-size: 44px;
    align-self: center;
}

.home__works__header>img {
    margin-left: 20px;
    width: 25%;
    background: rgba(248, 250, 212, 0.21);
    border: 2px solid #81B541;
    box-sizing: border-box;
    border-radius: 4px;
}