.projectCard {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.projectCard__outer {
    background: rgba(129, 181, 65, 0.35);
    border-radius: 10px;
}

.projectCard__details__heading {
    padding: 12px;
}

.projectCard__details__goal {
    padding: 0px 12px;
    width: 70%;
}

.projectCard__details__support {
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.projectCard__details__progress {
    padding: 0px 12px;
}

.projectCard__details__next {
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.projectCard__details__creater {
    display: flex;
    flex-direction: row;
    padding: 0px 12px 15px 12px;
}

.projectCard__details {
    background: #FFFFFF;
    border: 2px solid #81B541;
    box-sizing: border-box;
    border-radius: 10px;
}

.projectCard__update{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.projectCard h4{
    margin-left: 4px;
    font-weight: 500;
    color: rgba(71, 150, 131, 1);
}

.projectCard h5 {
    margin-left: 4px;
    font-weight: 400;
}

.MuiSvgIcon-root {
    color: #fcb47b;
    size: 14px;
}